html {
  height: 100%;
  /*width: 100%;*/
}
.body {
  height: 97%;
  /*width: 99%;*/
  background-color: #f5f5f5;

  display: flex;
  flex-direction: column;
  margin: 0;
}

/* HEADER*/
.header {
  background-color: #d9d9d9;
  /*height: 50px;*/
  /*width: 100%;*/
  /*padding-bottom: 50px;*/
  padding-top: 10px;
}
.navigation_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.entrance_btn {
  width: 130px;
  height: 30px;
  border-radius: 15px;
  border: none;
  margin-right: 20%;
}
.entrance_btn:active {
  background-color: rgb(144, 144, 144);
}

.header_logo_img {
  position: relative;
  top: -15px;
  width: auto;
  height: 50px;
}
.navigation_list {
  width: 45%;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navigation_pages {
  margin-left: 5%;
}
.nav_pages_link {
  text-decoration: none;
  display: inline-block;
  position: relative;
  color: rgb(0, 0, 0);
}
.nav_pages_link:hover {
  color: rgb(70, 122, 122);
  text-decoration: underline;
}
.navigation_pages:hover {
  color: aliceblue;
}
.search_box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}
.header_search_bar {
  width: 400px;
  height: 30px;
  border-radius: 15px;
  border: none;
}
.search_btn {
  margin-left: 30px;
  width: 30px;
  height: 30px;
  border-radius: 7px;
  border: none;
  background-color: #f5f5f5;
  background-image: url(../img/Без\ названия.png);
  background-size: 23px;
  background-repeat: no-repeat;
  background-position: 3px 3px;
}
.search_btn:active {
  box-shadow: 9px 6px 6px -1px rgba(0, 0, 0, 0.36);
  -webkit-box-shadow: 9px 6px 6px -1px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 9px 6px 6px -1px rgba(0, 0, 0, 0.36);
}
/* HOME PAGE */
.mainpage_text {
  margin-top: 10%;
  margin-left: 170px;
}
#home_body {
}
.home_page {
  margin-top: 5%;
}
.userType_list {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.home_user_item {
  list-style-type: none;
}
.home_wichuser_link {
  text-decoration: none;
  color: aliceblue;
  display: inline-block;
  position: relative;
}
.home_wichuser_link:hover {
  color: rgb(70, 122, 122);
  text-decoration: underline;
}
#home_text_area {
  min-width: 100px;
  min-height: 80px;
  height: 158px;
  width: 360px;
  margin-left: 33%;
}
.home_submit_btn {
  display: block;
  margin-left: 48%;
}
/* HOME */
.home_page_text {
  padding-left: 50px;
  width: 50%;
}
/*SOMETHING*/
.smth_text {
  margin-top: 50px;
}
/*About us */
.abtus_text {
  margin-top: 50px;
}
/*CABINET */

#main_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  justify-content: center;
  /* display: flex;
  align-items: center;
  justify-content:-around;
  flex-direction: column;*/

  height: 100%;
  width: 100%;
}
.registration_type_list {
  width: 40%;
  font-size: 19px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
}
.registration_type_item {
  display: contents;
  list-style-type: none;
}
.registration_type_item_link {
  text-decoration: none;
  color: aliceblue;
  /*margin-left: 10%;*/
}
.registration_type_item_link:hover {
  color: rgb(70, 122, 122);
  text-decoration: underline;
}
#registration_title {
  display: flex;
  justify-content: center;
  margin-top: 35px;
  font-weight: 800;
  font-size: 23px;
}
#registration_box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  border-style: solid;
  border-width: 5px;
  border-color: rgb(255, 255, 255);
  padding: 5px;

  margin-top: 25px;
  height: 350px;
  width: 500px;
}
#form_box {
  width: 75%;
  margin-top: 100px;
}
.regisrtation_form {
  margin: 30px 10px;
  height: 30px;
  width: 100%;
}
#submit_bttn {
  width: 105px;
  background-color: rgb(255, 255, 255);
  font-weight: 800;
  margin: 20px;
}
#submit_bttn:active {
  background-color: rgb(255, 255, 126);
  border-color: rgb(255, 255, 126);
}
