@import "/css/homepage.css";
html {
  height: 100%;
  width: 100%;
}
.body {
  height: 97%;
  width: 99%;
  background-color: rgb(163, 226, 255);

  display: flex;
  flex-direction: column;
}

/* HEADER*/

.header {
  height: 50px;
  width: 100%;
}
#logo {
  background-color: aquamarine;
}
.navigation_list {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
  margin-top: 20px;
  font-weight: 600;
  font-size: 18px;
  color: rgb(255, 255, 255);
}
.navigation_pages {
  margin-left: 5%;
}
.nav_pages_link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  display: inline-block;
  position: relative;
}
.nav_pages_link:hover {
  color: rgb(70, 122, 122);
  text-decoration: underline;
}
.navigation_pages:hover {
  color: aliceblue;
}

/*CABINET */

#main_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  /* display: flex;
  align-items: center;
  justify-content:-around;
  flex-direction: column;*/

  height: 100%;
  width: 100%;
}
#registration_title {
  display: flex;
  justify-content: center;
  margin-top: 35px;
  font-weight: 800;
  font-size: 23px;
  color: rgb(45, 45, 45);
}
#registration_box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  border-style: solid;
  border-width: 5px;
  border-color: rgb(255, 255, 255);
  padding: 5px;

  margin-top: 25px;
  height: 350px;
  width: 500px;
}
#form_box {
  width: 75%;
  margin-top: 100px;
}
.regisrtation_form {
  margin: 30px 10px;
  height: 30px;
  width: 100%;
}
#submit_bttn {
  width: 105px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  font-weight: 800;
  margin: 20px;
}
#submit_bttn:active {
  background-color: rgb(255, 255, 126);
  border-color: rgb(255, 255, 126);
}

/* HOME PAGE */
#home_body {
  display: block;
}
.home_page {
  margin-top: 5%;
}
.userType_list {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.home_user_item {
  list-style-type: none;
}
.home_wichuser_link {
  text-decoration: none;
  color: aliceblue;
  display: inline-block;
  position: relative;
}
.home_wichuser_link:hover {
  color: rgb(70, 122, 122);
  text-decoration: underline;
}
#home_text_area {
  min-width: 100px;
  min-height: 80px;
  height: 20%;
  width: 35%;
  margin-left: 33%;
}
.home_submit_btn {
  display: block;
  margin-left: 48%;
}
