html {
  height: 100%;
  width: 100%;
}
#body {
  background-color: rgb(0, 0, 0);
}
#header {
  height: 50px;
  width: 100%;
}
#navigation_list {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
  font-weight: 600;
  font-size: 18px;
  color: rgb(255, 255, 255);
}
.navigation_pages {
  margin-left: 10%;
}
#main_box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;

  height: 100%;
  width: 100%;
}
#registration_title {
  display: flex;
  justify-content: center;
  margin-top: 35px;
  font-weight: 800;
  font-size: 23px;
  color: rgb(255, 193, 23);
}
#registration_box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  border-style: solid;
  border-width: 5px;
  border-color: rgb(255, 255, 255);
  padding: 5px;

  margin-top: 25px;
  height: 350px;
  width: 500px;
}
#form_box {
  width: 75%;
  margin-top: 100px;
}
.regisrtation_form {
  margin: 30px 10px;
  height: 30px;
  width: 100%;
}
#submit_bttn {
  width: 105px;
  color: rgb(67, 67, 67);
  margin: 20px;
}
